<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="SecuritiesXmlPath" value="C:\Engineer Code Test\Securities.xml" />
    <add key="TradesRootPath" value="C:\Engineer Code Test\Test" />
  </appSettings>
</configuration>